@media(min-width : 600px) {
    .top-navbar {
        box-shadow: 0 0 50px gray !important;
    }

    .top_action_section {
        display: flex !important;
        align-items: center !important;
    }
}

@media(max-width : 600px) {
    .container {
        width: 100% !important;
    }
}

.user_list_item.active .user_list_arrow_icon {
    transform: rotate(180deg);
}

.user_list_item.active,
.user_list_item.active .collapsible-header {
    background-color: rgba(199, 199, 199, 0.295)
}